.taxform-grid-progress-part-1
{
   grid-column: span 2;
   background-color: #5A66BB;

   background-color: #E191F2;

           color:#6C5073;


       border-top-left-radius: 12px;
       border-bottom-left-radius: 12px;

}

.taxform-grid-progress-part-1::after
{
  border-top-color: #5A66BB ;
     border-top-color: #E191F2;

}

.taxform-grid-progress-part-2
{
      grid-column: span 2;
    background-color: #2B3BB8;

    background-color: #A191F2;

}

.taxform-grid-progress-part-2::after
{
  border-top-color: #2B3BB8 ;
      border-top-color: #A191F2;

}

.taxform-grid-progress-part-3
{
       grid-column: span 2;
    background-color: #081891;

    background-color: #6C5073;
    color:#C8C878;


}

.taxform-grid-progress-part-3::after
{
  border-top-color: #081891 ;

      border-top-color: #6C5073;

}
.taxform-grid-progress-part-4
{
       grid-column: span 2;
    background-color: #040f6f;

    background-color: #C8C878;

        color:#6C5073;


}

.taxform-grid-progress-part-4::after
{
  border-top-color: #040f6f ;
    border-top-color: #C8C878;


}

.taxform-grid-progress-part-5
{
       grid-column: span 2;
    background-color: #030a46;

    background-color: #9161e9;

}

.taxform-grid-progress-part-5::after
{
  border-top-color: #030a46 ;
  border-top-color: #9161e9;
}



.taxform-grid-progress-part-6
{
       grid-column: span 2;
        grid-column: span 2;
    background-color: #06af3e;
 border-top-right-radius: 12px;
       border-bottom-right-radius: 12px;

}

.taxform-grid-progress-part-6::after
{
  border-top-color: #06af3e ;
}

